<launch>
  <node name='active_publisher' pkg='rostopic' type='rostopic' args='pub -r 1 /active std_msgs/Bool "data: true"' />

  <group ns='/robot_00'>
    <node name='mocap_pose_estimator' pkg='exploration' type='mocap_pose_estimator.py' />
    <node name='pose_controller' pkg='exploration' type='pose_controller.py' />
    <node name='pose_planner' pkg='exploration' type='pose_planner.py' />
  </group>

</launch>
